$input-height: 36px;
$stickers-height: 281px;
$top-indent: 30px;
$emoji-height: 26px;
$emoji-width: 26px;
$emoji-header: 30px;
$stickers-field-height: 206px;
$border-color: #C5D0DB;
$dark-border-color: #99A2AD;
