@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "~normalize.css";
@import "input";
@import "stickers";
@import "simplebar";


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.field{
  position: relative;
  display: flex;
  justify-content: center;
  //background-color: #000;
  height: 390px;
  width: 838px;
  top: 80px;
  margin: auto;
}

