@import "variables";
@import "mixins";

.field__input{

  position: absolute;
  top: $stickers-height+$top-indent+10px;
  min-height: $input-height;
  max-height: $input-height + 500px;
  width: 290px;
  border: 1px solid $border-color;
  border-radius: 4px;
  .text{
    display: inline-block;
    margin-left: 9px;
    margin-top: 9px;
    font-size: 12px;
    outline: none;
    min-width: 208px;
    max-width: 209px;
    max-height: $input-height;


    color: #939393;

  }

  .button{
    position: absolute;
    display: inline;
    right: 0;
    padding: 6px;
    color: $border-color;
    height: $input-height;
  }
  .button:hover{
    color: $dark-border-color;
    cursor: pointer;
  }
}